# 1.Data cleaning
### Problem 1: Handle Missing Values

a) Create a dataset (python dictionary) with a tabular structure (like an Excelsheet) with columns Name, Age, and Salary. Create 10 rows.
Example: Name: 'Alice', 'Bob', NAN, 'David', NAN,
Age: 25, NAN, 28, 35, 22,
Salary: 50000, 54000, NAN, 58000, 60000


b) Convert the dictionary into dataframe.


c) Fill missing 'Age' with mean


d) Drop rows with missing 'Name'


e) Fill missing 'Salary' with forward fill


f) Print the Cleaned Data

In [2]:
import pandas as pd
import numpy as np

# a) Create the dataset with missing values
data = {
    'Name': ['Alice', 'Bob', np.nan, 'David', np.nan, 'Eva', 'Frank', np.nan, 'Hannah', 'Ian'],
    'Age': [25, np.nan, 28, 35, 22, 30, np.nan, 26, 24, np.nan],
    'Salary': [50000, 54000, np.nan, 58000, 60000, np.nan, 62000, 64000, np.nan, 66000]
}

# b) Convert the dictionary into a DataFrame
df = pd.DataFrame(data)

print("Original DataFrame:\n", df, "\n")

# c) Fill missing 'Age' with the mean
df['Age'].fillna(df['Age'].mean(), inplace=True)

# d) Drop rows with missing 'Name'
df.dropna(subset=['Name'], inplace=True)

# e) Fill missing 'Salary' using forward fill
df['Salary'].fillna(method='ffill', inplace=True)

# f) Print the Cleaned Data
print("Cleaned DataFrame:\n", df)

Original DataFrame:
      Name   Age   Salary
0   Alice  25.0  50000.0
1     Bob   NaN  54000.0
2     NaN  28.0      NaN
3   David  35.0  58000.0
4     NaN  22.0  60000.0
5     Eva  30.0      NaN
6   Frank   NaN  62000.0
7     NaN  26.0  64000.0
8  Hannah  24.0      NaN
9     Ian   NaN  66000.0

Cleaned DataFrame:
      Name        Age   Salary
0   Alice  25.000000  50000.0
1     Bob  27.142857  54000.0
3   David  35.000000  58000.0
5     Eva  30.000000  58000.0
6   Frank  27.142857  62000.0
8  Hannah  24.000000  62000.0
9     Ian  27.142857  66000.0

C:\Users\rohit\AppData\Local\Temp\ipykernel_31592\1849069157.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
C:\Users\rohit\AppData\Local\Temp\ipykernel_31592\1849069157.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(method='ffill', inplace=True)
C:\Users\rohit\AppData\Local\Temp\ipykernel_31592\1849069157.py:23: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Salary'].fillna(method='ffill', inplace=True)

# Problem 2: Remove Duplicates
a) Create a dataset (python dictionary) with a tabular structure (like an Excelsheet) with columns ID and Score. Create 10 rows with duplicate records.


b) Convert the dictionary into dataframe.


c) Remove duplicates based on 'ID'


d) Print the dataframe

In [3]:
import pandas as pd

# a) Create a dataset with duplicates
data = {
    'ID': [101, 102, 103, 104, 101, 102, 105, 106, 107, 105],
    'Score': [90, 85, 88, 92, 90, 85, 80, 75, 70, 80]
}

# b) Convert the dictionary into a DataFrame
df = pd.DataFrame(data)

print("Original DataFrame with duplicates:\n", df, "\n")

# c) Remove duplicates based on 'ID' (keep first occurrence)
df_unique = df.drop_duplicates(subset='ID', keep='first')

# d) Print the DataFrame without duplicates
print("DataFrame after removing duplicates:\n", df_unique)

Original DataFrame with duplicates:
     ID  Score
0  101     90
1  102     85
2  103     88
3  104     92
4  101     90
5  102     85
6  105     80
7  106     75
8  107     70
9  105     80

DataFrame after removing duplicates:
     ID  Score
0  101     90
1  102     85
2  103     88
3  104     92
6  105     80
7  106     75
8  107     70

# 2. Data Transformation
Problem 1: Normalize a Column (MinMaxScaler)

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

df1 = pd.DataFrame({
    'Score': [45, 67, 89, 34, 56, 78]
})

scaler = MinMaxScaler()
df1['Normalized_Score'] = scaler.fit_transform(df1[['Score']])

print("Normalized Column:\n", df1)

Normalized Column:
    Score  Normalized_Score
0     45               0.2
1     67               0.6
2     89               1.0
3     34               0.0
4     56               0.4
5     78               0.8

Problem 2: Convert Categorical to Numeric (One-hot Encoding)

In [5]:
# Sample Data
df2 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice'],
    'City': ['Delhi', 'Mumbai', 'Delhi', 'Chennai']
})

df_encoded = pd.get_dummies(df2, columns=['City'])

print("One-hot Encoded Data:\n", df_encoded)

One-hot Encoded Data:
       Name  City_Chennai  City_Delhi  City_Mumbai
0    Alice         False        True        False
1      Bob         False       False         True
2  Charlie         False        True        False
3    Alice          True       False        False

 Problem 3: Log Transformation to Reduce Skew

In [ ]:
import numpy as np

df3 = pd.DataFrame({
    'Income': [1000, 2000, 3000, 10000, 50000]
})

df3['Log_Income'] = np.log(df3['Income'])

print("Log Transformed Data:\n", df3)

Log Transformed Data:
    Income  Log_Income
0    1000    6.907755
1    2000    7.600902
2    3000    8.006368
3   10000    9.210340
4   50000   10.819778

# 3. Data Reduction
Problem 1: Feature Selection (Variance Threshold)

In [7]:
from sklearn.feature_selection import VarianceThreshold

df4 = pd.DataFrame({
    'Feature1': [1, 1, 1, 1, 1],
    'Feature2': [10, 20, 15, 25, 30],
    'Feature3': [2, 2, 2, 2, 2],
})

selector = VarianceThreshold(threshold=0.0)
reduced = selector.fit_transform(df4)

df_reduced = pd.DataFrame(reduced, columns=df4.columns[selector.get_support()])
print("After Feature Selection:\n", df_reduced)

After Feature Selection:
    Feature2
0        10
1        20
2        15
3        25
4        30

 Problem 2: Dimensionality Reduction with PCA

In [8]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

df5 = pd.DataFrame({
    'X1': [1, 2, 3, 4, 5],
    'X2': [2, 4, 6, 8, 10],
    'X3': [5, 4, 3, 2, 1]
})

scaler = StandardScaler()
df_scaled = scaler.fit_transform(df5)

pca = PCA(n_components=2)
df_pca = pca.fit_transform(df_scaled)

print("PCA Result:\n", pd.DataFrame(df_pca, columns=['PC1', 'PC2']))

PCA Result:
         PC1           PC2
0  2.449490  7.063777e-17
1  1.224745 -2.354592e-17
2 -0.000000 -0.000000e+00
3 -1.224745  2.354592e-17
4 -2.449490  4.709185e-17

Problem 3: Aggregation (Reducing Rows)

In [9]:
df6 = pd.DataFrame({
    'Department': ['HR', 'HR', 'IT', 'IT', 'Sales', 'Sales'],
    'Salary': [40000, 45000, 60000, 62000, 50000, 52000]
})

df_agg = df6.groupby('Department').mean(numeric_only=True)

print("Aggregated Data:\n", df_agg)

Aggregated Data:
              Salary
Department
HR          42500.0
IT          61000.0
Sales       51000.0